/*********************************************************************************************************

    Cascadia Code
    https://github.com/microsoft/cascadia-code
    Note: These fonts are bundled with Windows Terminal but are not installed system wide. To use them,
    they have to be uploaded to the webserver and hosted.

*********************************************************************************************************/
@font-face {
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local('Cascadia Code'),
         url(./fonts/CascadiaCode.woff2) format('woff2');
}
@font-face {
    font-family: 'Cascadia Code';
    font-style: italic;
    font-weight: 400;
    font-display: block;
    src: local('Cascadia Code'),
         url(./fonts/CascadiaCodeItalic.woff2) format('woff2');
}

/*********************************************************************************************************

    Material Icons
    https://google.github.io/material-design-icons/#icon-font-for-the-web

*********************************************************************************************************/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(./fonts/MaterialIcons-Regular.woff2) format('woff2'),
         url(./fonts/MaterialIcons-Regular.woff) format('woff'),
         url(./fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    text-transform: lowercase !important;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
.material-icons.only {
    line-height: 1.7em;
}